{{#section 'title'}}
Tìm kiếm: {{KeySearch}}
{{/section}}

{{#if noProducts}}
<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-12">
		Không có sản phẩm.
	</div>
</div>
{{else}}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>Tìm thấy <b>{{countResult}} kết quả</b> với tiêu chí <b>"{{TagSearch}}"</b> từ khóa <b>"{{KeySearch}}"</b>trong đó có:</p>
		</div>
	</div>
</div>
<div class="container">
<div class="row" >
	{{#each products}}
	<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
		<div class="sanpham">
			<a href="/product/detail/{{MaSP}}">
				<div class="image">
				    <img src="{{AnhDaiDien}}" alt="{{TenSP}}" title="{{TenSP}}" class="img-reponsive">
				    <div class="tep-gia">
						<span class="gia">
							<span>{{number_format Gia}}₫</span>
						</span>
					</div>  <!-- end tep-gia -->
					<div class="tieude">
						<strong>{{TenSP}}</strong>
					</div> <!-- end mua -->
				</div>
			</a>
		</div> <!-- end sanpham -->
	</div> <!-- end col -->
	{{/each}}
</div><!-- end row -->
</div>
<div style="text-align: center">
<ul class="pagination">
	<li id="pre">
		<a href="?tieuchi={{TagSearch}}&key={{KeySearch}}&page={{preValue}}" aria-label="Previous"><span aria-hidden="true">«</span></a>
	</li>
	{{#each page_numbers}}
		{{#if isCurPage}}
			<li class="active"><a href="javascript:;">{{value}}</a></li>
		{{else}}
			<li><a href="?tieuchi={{tagSearch}}&key={{keySearch}}&page={{value}}">{{value}}</a></li>
		{{/if}}
	{{/each}}
	<li id="next">
		<a href="?tieuchi={{TagSearch}}&key={{KeySearch}}&page={{nextValue}}" aria-label="Next"><span aria-hidden="true">»</span></a></li>
	</ul>
</div>
{{/if}}