{{#section 'title'}}
{{CatName}}
{{/section}}

{{#if noProducts}}
<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-12">
		Không có sản phẩm.
	</div>
</div>
{{else}}
<div class="thuong_hieu">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<p>Hãng</p>
				<ul>
					{{#each hangSX}}
					<li id="{{MaHSX}}"><a href="/product/byCat/{{Loai}}/{{MaHSX}}">{{TenHSX}}</a></li>
					{{/each}}
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="container">
<div class="row" >
	{{#each products}}
	<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
		<div class="sanpham">
			<a href="/product/detail/{{MaSP}}">
				<div class="image">
				    <img src="{{AnhDaiDien}}" alt="{{TenSP}}" title="{{TenSP}}" class="img-reponsive">
				    <div class="tep-gia">
						<span class="gia">
							<span>{{number_format Gia}}</span>
						</span>
					</div>  <!-- end tep-gia -->
					<div class="tieude">
						<strong>{{TenSP}}</strong>
					</div> <!-- end mua -->
				</div>
			</a>
		</div> <!-- end sanpham -->
	</div> <!-- end col -->
	{{/each}}
</div><!-- end row -->
</div>
<div style="text-align: center">
<ul class="pagination">
	<li id="pre">
		<a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a>
	</li>
	{{#each page_numbers}}
		{{#if isCurPage}}
			<li class="active"><a href="javascript:;">{{value}}</a></li>
		{{else}}
			<li><a href="?page={{value}}">{{value}}</a></li>
		{{/if}}
	{{/each}}
	<li id="next">
		<a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
	</ul>
</div>
{{/if}}

{{#section 'js'}}
	<script type="text/javascript">
		var id = "Cat";
		id = id.concat({{CatId}});
		document.getElementById(id).className = "active";

		document.getElementById("{{MaHSX}}").style.textDecoration="underline";

		{{#each page_numbers}}
			{{#if isCurPage}}
			{{#if isMinPage}}
				document.getElementById("pre").className = "disabled";
				{{break}}
			{{else}}
				document.getElementById("pre").className = "";
			{{/if}}
			{{#if isMaxPage}}
				document.getElementById("next").className = "disabled";
			{{else}}
				document.getElementById("next").className = "";
			{{/if}}
			{{/if}}
		{{/each}}
	</script>
{{/section}}