{{#section 'title'}}
{{product.TenSP}}
{{/section}}

{{#section 'css'}}
    <style type="text/css">
        .image-big {
            /* width: 800px; */
            text-align: center;

        }

        .image-small {
            margin: auto; padding: 20px;
        }
        .hinhanh_sanpham {
            text-align: center;
        }
    </style>
{{/section}}
    <div class="baoquat_sanpham">
        <div class="container">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 hinhanh_sanpham">
                    <div class="image-big">
                        <img src="{{product.AnhDaiDien}}" id="img0" class="img-responsive" style="padding-left: 10%">
                       
                    </div>
                     <div class="image-small">
                            <input type="image" id="{{product.AnhDaiDien}}" src="{{product.AnhDaiDien}}" onclick="changeimg(this.id);return false;">
                            {{#each hinhAnh}}
                            <input type="image" id="{{DuongDan}}" src="{{DuongDan}}" onclick="changeimg(this.id);return false;">
                            {{/each}}
                        </div>
                </div> <!-- end hinhanh_sanpham -->
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 soluoc_sanpham">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 soluoc_sanpham_trai">
                            <div class="ten_sanpham">
                                <h2>{{product.TenSP}}</h2>
                            </div>
                            <div class="giaban_sanpham">
                                <h3>{{number_format product.Gia}}₫</h3>
                            </div>
                            <div class="soluongbansp">
                                <h5>Số lượng còn: <b>{{product.SoLuongCon}}</b> sản phẩm</h5>
                                <h5>Đã được xem: <b>{{product.LuotXem}}</b> lượt</h5>
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 soluoc_sanpham_phai">
                            <h2>Tổng quan</h2>
                            <ul>
                                <li>
                                    <pre><strong>Xuất xứ:      </strong><span>{{product.XuatXu}}</span></pre>
                                </li>
                                <li>
                                    <pre><strong>Loại:         </strong><span>{{Loai}}</span></pre>
                                </li>
                                <li>
                                    <pre><strong>Nhà sản xuất: </strong><span>{{HSX}}</span></pre>
                                </li>
                                
                            </ul>
                        </div>
                    </div>

                    <div class="thongtin_khuyenmai">
                        <div class="tieude_khuyenmai">
                            <h4>KHUYẾN MÃI</h4>
                        </div>
                        <div class="noidung_khuyenmai">
                            <p>* Dán màn hình cả năm chỉ từ <span style="color: #ff0000;"><strong>69.000đ</strong></span></p>
                            <p>* Giảm tới <strong><span style="color: #ff0000;">1%</span></strong> giá hóa đơn,<span style="color: #ff0000;"><strong></strong></span> <strong><span style="color: #ff0000;">10%</span></strong>;giá phụ kiện miếng dán, bao da, ốp lưng.</p>
                            <p>* Trả góp lãi suât <span style="color: #ff0000;"><strong>0%</strong></span> với thẻ tín dụng;HSBC, Sacombank, ANZ, Shinhan Bank, CitiBank, VPBank, FE Credit, Techcombank, Standard Chartered.</p>
                            <p>* <em>Miễn phí cà thẻ (ngoại trừ AMEX, UnionPay &amp; JCB).</em></p>
                        </div>
                    </div> <!-- end thongtin_khuyenmai -->
                    {{#if product.SoLuongCon}}
                    <form action = "/cart/add" method = "post">
                        <div class="nutmua">
                            <input type="text" id="txtMaSP" autocomplete="true" class="input_dangky" value ="{{product.MaSP}}" name="masanpham" required style ="display:none;">
                            <button class="btn-default muangay">MUA NGAY</button>
                        </div> <!-- end nutnua -->
                    </form>
                    {{else}}
                    <h3><font color="red">SẢN PHẨM ĐÃ HẾT HÀNG</font><h3>
                    {{/if}}
                </div> <!-- end soluoc_sanpham -->
            </div>
            <hr>
            <div class="mota_sanpham">
                <div class="container">
                    <div class="row ">
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 mota_sanpham_trai"> 
                    <h2>MÔ TẢ SẢN PHẨM</h2>
                    <p>{{product.MoTa}}
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 mota_sanpham_phai">
                    <h2>THÔNG SỐ KỸ THUẬT</h2>
                    <ul>
                        <li>
                            <span class="ten_thongso">Màn hình:</span>
                            <span class="noidung_thongso">{{product.ManHinh}}</span>
                        </li>
                        <li>
                            <span class="ten_thongso">Hệ điều hành:</span>
                            <span class="noidung_thongso"> {{product.HeDieuHanh}}</span>
                        </li>
                        <li>
                            <span class="ten_thongso">Camera sau:</span>
                            <span class="noidung_thongso"> {{product.CameraSau}} MP</span>
                        </li>
                        <li>
                            <span class="ten_thongso">Camera trước:</span>
                            <span class="noidung_thongso"> {{product.CameraTruoc}} MP</span>
                        </li>
                        <li>
                            <span class="ten_thongso">CPU:</span>
                            <span class="noidung_thongso">  {{product.CPU_}}</span>
                        </li>
                        <li>
                            <span class="ten_thongso">RAM:</span>
                            <span class="noidung_thongso"> {{product.RAM_}} GB</span>
                        </li>
                        <li>
                            <span class="ten_thongso">Bộ nhớ trong:</span>
                            <span class="noidung_thongso"> {{product.BoNhoTrong}} GB</span>
                        </li>
                        <li>
                            <span class="ten_thongso">Thẻ nhớ:</span>
                            {{#if product.BoNhoNgoai}}
                            <span class="noidung_thongso"> hỗ trợ tối đa {{product.BoNhoNgoai}} GB</span>
                            {{else}}
                            <span class="noidung_thongso"> Không</span>
                            {{/if}}
                        </li>
                        <li>
                            <span class="ten_thongso">Thẻ SIM:</span>
                            <span class="noidung_thongso"> {{product.TheSim}}</span>
                        </li>
                        <li>
                            <span class="ten_thongso">Dung lượng pin:</span>
                            <span class="noidung_thongso"> {{product.DungLuongPin}} mAh</span>
                        </li>
                    </ul>
                </div>
            </div>
                </div>
            </div>
        </div> <!-- end container -->
    </div> <!-- end baoquat_sanpham -->
    <div class="_5sanpham_cungloai">
        <div class="container">
            <hr>
            <div class="_5_tieude">
                <h3>Sản phẩm cùng loại</h3>
            </div>
            <div class="row _5_noidung">
                {{#each spCungLoai}}
                <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2" id="iphone">
                    <div class="sanpham">
                        <a href="/product/detail/{{MaSP}}">
                            <div class="image">
                                    <img src="{{AnhDaiDien}}" alt="{{TenSP}}" title="{{TenSP}}" class="img-reponsive">
                                    <div class="tep-gia">
                                            <span class="gia">
                                                <span>{{number_format Gia}}</span>
                                            </span>
                                    </div>  <!-- end tep-gia -->
                                    <div class="tieude">
                                        <strong>{{TenSP}}</strong>
                                    </div> <!-- end mua -->
                            </div>
                        </a>
                    </div> <!-- end sanpham -->
                </div> <!-- end col -->
                {{/each}}
            </div>
        </div>
    </div> <!-- end _5sanpham_cungloai -->
    <div class="_5sanpham_cungnhasanxuat">
        <div class="container">
            <hr>
            <div class="_5_tieude">
                <h3>Sản phẩm cùng nhà sản xuất</h3>
            </div>
            <div class="row _5_noidung">
                {{#each spCungNSX}}
                <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2" id="iphone">
                    <div class="sanpham">
                        <a href="/product/detail/{{MaSP}}">
                            <div class="image">
                                    <img src="{{AnhDaiDien}}" alt="{{TenSP}}" title="{{TenSP}}" class="img-reponsive">
                                    <div class="tep-gia">
                                            <span class="gia">
                                                <span>{{number_format Gia}}</span>
                                            </span>
                                    </div>  <!-- end tep-gia -->
                                    <div class="tieude">
                                        <strong>{{TenSP}}</strong>
                                    </div> <!-- end mua -->
                            </div>
                        </a>
                    </div> <!-- end sanpham -->
                </div> <!-- end col -->
                {{/each}}
            </div>
        </div>
    </div> <!-- end _5sanpham_cungnhasanxuat -->