
<div class="container">
    <div class="row">
        <div class="col-xs-8 col-xs-push-2">
            <div class="dangky">
                <h3>Tạo tài khoản PhoneShop</h3>
            </div>
        </div>
        <div class="col-xs-8 col-xs-push-2">
            <form class="manhinh_dangky" action="" method="POST" 
            onsubmit="return validate()">
                <div class="row">
                    <div class="col-xs-6 form-colLeft">
                        <div class="form-group">
                              <label for="email">Tên tài khoản:</label>
                              <input type="text" id="txtUserName_DangKy" autocomplete="true" class="input_dangky" placeholder="Tên tài khoản" name="username" required>
                        </div>
                        <div class="form-group">
                              <label for="email">Mật khẩu:</label>
                              <input type="password" id="txtPassWord_DangKy" autocomplete="true" class="input_dangky" placeholder="Nhập mật khẩu" name="rawPWD" required>
                        </div>
                        <div class="form-group">
                              <label for="email">Nhập lại mật khẩu:</label>
                              <input type="password" id="txtRePassWord_DangKy" autocomplete="true" class="input_dangky" placeholder="Nhập lại mật khẩu" name="rerawPWD" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="text" id="txtEmail" autocomplete="true" class="input_dangky" placeholder="xxx@gmail.com" name="email" value="{{Email}}" required>
                        </div>
                    </div>
                    <div class="col-xs-6 form-colRight">
                        <div class="form-group">
                            <label for="email">Họ và tên:</label>
                            <input type="text" id="txtFullName" autocomplete="true" class="input_dangky" placeholder="Nhập họ tên" name="fullname" value="{{TenKH}}" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Giới tính</label>
                            <div id="pickSex">
                                <input type="radio" name="rbGioiTinh" value="1" id="rbnam">Nam
                                <input type="radio" name="rbGioiTinh" value="0" id="rbnu">Nữ
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email">Địa chỉ:</label>
                            <input type="text" id="txtEmail" autocomplete="true" class="input_dangky" placeholder="Số nhà, đường, khu phố, quận/huyện,tỉnh/thành phố" name="address" value="{{DiaChi}}" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Số điện thoại:</label>
                            <input type="text" id="txtPhoneNumber" autocomplete="true" class="input_dangky" placeholder="Số điện thoại" name="phonenumber" value="{{SoDienThoai}}" required>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn-default nut_dangky">Đăng ký</button>
            </form> <!-- end manhinh_dangky -->
        </div>
    </div>
</div>
<script type="text/javascript">

    if({{isSuccess}}===-1)
    {
        alert("Tài khoản đã tồn tại");
        if({{GioiTinh}})
            document.getElementById("rbnam").checked = true;
        else
            document.getElementById("rbnu").checked = true;
    }
    else
        if({{isSuccess}}===1)
            alert("Đăng ký tài khoản thành công");
        else
            alert("Đăng ký tài khoản không thành công");
    function validate() {
        if ($('#txtPassWord_DangKy').val() !== $('#txtRePassWord_DangKy').val()) {
            alert('Mật khẩu nhập không trùng khớp');
            return false;
        }
        return true;
    };
</script>